.poll-details{
    overflow: auto;
    padding: 10px;
    height: 87vh;
}

.poll-form{
    display: grid;
    gap: 16px;
    grid-template-rows: 200px 1fr 40px;
    grid-template-areas:
    'form-fields'
    'poll-candidates'
    'form-action';
    padding: 16px;
}

.form-fields{
    display: grid;
    grid-area: form-fields;
    row-gap: 12px;
    column-gap: 36px;
    grid-template-columns: repeat(2,1fr);
}

.radio-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    mat-radio-group{
        display: block;
        margin-top: 6px;
    }
    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
      }
}

.poll-candidates{
    grid-area: poll-candidates;
}

.form-action{
    grid-area: form-action;
}

h3{
    padding: 8px;
    border-radius: 10px;
    border: 2px ridge;
}