@import "~@angular/material/theming";
@import '../../../assets/theme.scss';

.error-snack-bar{
    background-color: mat-color($viewpoint-app-warn) !important;
}

.info-snack-bar{
    background-color: mat-color($viewpoint-app-accent) !important;  
    color: black;
}

.success-snack-bar{
    background-color: mat-color($viewpoint-app-primary) !important;
}

::ng-deep{
    .mat-snack-bar-container{
    padding: 6px;
    min-height: 0px;
    }
}