::ng-deep{
    .mat-icon{
        font-size: 26px;
    }
}

.poll-card {
    max-width: 350px;
    min-height:100px;
    position: relative;
  }

 .poll-layout{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap: 24px;
     padding: 3%;
 }

 .parent {
    position: relative;
  }

  .child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
  }

  .action-button{
    position: absolute;
    bottom: 15%;
  }