<div class="cast-poll">
  <mat-card class="poll-screen">
    <mat-card-header class="title">
      <mat-card-title>
        <span>{{pollData.title}}</span>
      </mat-card-title>
      <mat-card-subtitle>{{pollData.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="candidate-layout">
      <fieldset *ngFor="let candidate of pollData.candidates;let i=index"
        [ngClass]="{'selected':isSelected.status && isSelected.ref===i,'not-selected':isSelected.status && isSelected.ref!==i}">
        <legend>Candidate {{i+1}}:</legend>
        <div (click)="selectCandidate(candidate._id,i)" class="candidate-content">
          <div class="hover-zoom">
            <img [src]="candidate.imgUrl || defaultURL" *ngIf="candidate.imgUrl" alt="Poll candidate image" />
          </div>
          <span>{{candidate.text}}</span>
        </div>
      </fieldset>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="castVote()" class="vote">Submit</button>
    </mat-card-actions>
  </mat-card>
  <div class="stat-screen">
    <mat-card>
      <mat-card-content>
        <div class="status" *ngIf="pollData.resultDisplayType===1">
          <span>Live</span>
          <mat-icon style="color: green;">stop_circle</mat-icon>
        </div>
        <div style="font-size: 24px;">
          <span>{{statusTitle}}: {{resultIn}}</span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Result</mat-card-title>
      <mat-card-content>
        <bar-chart></bar-chart>
      </mat-card-content>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </div>
</div>