<div class="poll-board" *ngIf="user$ | async as user">
  <mat-card>
    <mat-card-title>Welcome {{user.displayName}}</mat-card-title>
  </mat-card>
  <div class="poll-layout">
    <mat-card *ngFor=" let poll of pollList$ |async; let i=index" class="poll-card">
      <mat-card-header>
        <mat-card-title>{{poll.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="poll?.description">{{poll.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="action-button">
        <button mat-button matTooltip="Poll information" (click)="getPollInfo(poll)">
          <mat-icon aria-hidden="false" aria-label="info" color="primary">info</mat-icon>
        </button>
        <button mat-button matTooltip="Poll results">
          <mat-icon aria-hidden="false" aria-label="result" color="primary">poll</mat-icon>
        </button>
        <button mat-button matTooltip="Copy poll URL" [copyToClipboard]="pollURL[i]">
          <mat-icon aria-hidden="false" aria-label="url" color="primary">link</mat-icon>
        </button>
        <button mat-button matTooltip="Delete Poll">
          <mat-icon aria-hidden="false" aria-label="delete" color="warn" (click)="deletePoll(poll._id)">delete_forever
          </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="poll-card parent">
      <button mat-button class="child">
        <mat-icon aria-hidden="false" aria-label="add new" (click)="getPollInfo()">add_circle_outline</mat-icon>
      </button>
    </mat-card>
  </div>
</div>