/* You can add global styles to this file, and also import other style files */
@import './assets/theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.disabled-text{
    color:rgba(0,0, 0, 0.38)
}

.enable-border{
  outline: 3px dashed mat-color($viewpoint-app-primary);
  cursor: pointer;
}

.disable-border{
  outline: 3px dotted rgba(0,0, 0, 0.38);
  cursor: not-allowed;
}
